<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.maeno.example.repository.AccountMapper">

    <resultMap id="account" type="org.maeno.example.domain.Account">
        <result column="ACCOUNTID" property="accountId" />
        <result column="USERNAME" property="username" />
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
    </resultMap>

    <select id="auth" resultMap="account">
        <![CDATA[
            SELECT
                ACCOUNTID,
                USERNAME,
                EMAIL,
                PASSWORD
        FROM
            ACCOUNT
        WHERE
            (
                USERNAME = #{searchKey}
                AND
                PASSWORD = #{password}
            )
            OR
            (
                EMAIL = #{searchKey}
                AND
                PASSWORD = #{password}
            )
        ]]>
    </select>

    <select id="loadAccount" resultMap="account">
        <![CDATA[
            SELECT
                ACCOUNTID,
                USERNAME,
                EMAIL,
                PASSWORD
        FROM
            ACCOUNT
        WHERE
            (
                USERNAME = #{searchKey}
            )
            OR
            (
                EMAIL = #{searchKey}
            )
        ]]>
    </select>
</mapper>
